body {
    background-color: #29353C;
    color: #DFEBF6;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  nav {
    background-color: #44576D;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #DFEBF6;
    text-decoration: none;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
  }
  
  p {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    background-color: #768A96;
    border: none;
    color: #DFEBF6;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  
  button:hover {
    background-color: #AAC7D8;
  }
  